/* Yulia Gorinshtein */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} 

body {
	direction: rtl;
	text-align: center;
	font-family: 'Arial (Hebrew)', Arial;
	line-height: 1;
	font-size: 0.8em;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 900px;
	height: 589px;
	margin: 0 auto;
	margin-top: 30px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	height: 355px;
	justify-content: space-between;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: space-around;
	width: 293px;
	text-align: right;
}

.content {
	width: 248px;
    height: 97px;
	background: rgba(139, 139, 139, 0.85);
	color: white;
	padding: 10px;
}

.row:last-child {
	height: 216px;
}

.content .row {
	height: 100%;
}

.row:last-child .content {
	display: flex;
	flex-direction: column;
	width: 100%;
    height: 100%;
	color: #575757;
	padding: 10px 20px 10px 20px;
}

main > .row:first-child .content {
	margin-right: 7px;
	margin-bottom: 6px;
}

main > .row:last-child .content {
	justify-content: space-between;
}

/*-----------*/

.out-top-radius {
	border-top-right-radius: 25px;
	background-image: linear-gradient(rgb(210, 210, 210), rgb(245, 245, 245) );
	padding: 1px;	
}

.in-top-radius {
	border-top-right-radius: 25px;
	background-image: linear-gradient(white, rgb(235, 235, 235));
}

/*-----------*/

.btm-radius {
	border-bottom-right-radius: 25px;
}

.gray-unline {
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(225, 225, 225);
}

ul {
	list-style: none;
}

.content a { 
	display: inline-block;
	width: 53px;
	text-align: right;
	color: white;
	background:  url("images/read_more_white.png") no-repeat;
}

main .content a { 
	padding-bottom: 10px;
}

main .row:last-child .content a {
	color: #575757;
	width: 85px;
	background:  url("images/read_more_yellow.png") no-repeat;
}

main .content a:hover {
	background: url("images/read_more_blue.png") no-repeat;
}


main .row:last-child .content a:hover {
	color: rgb(0, 92, 160); 
	background: url("images/read_more_blue.png") no-repeat;
}

.content > p {
    font-size: 13px;
    margin-top: 4px;
}

.content > div:last-child {
	text-align: left;
}

.retail {
	background: url('images/1908364606615453350.JPG') no-repeat; 
}

.refining {
	background: url('images/Picture-046410251500.jpg') no-repeat; 
}

.industries {
	background: url('images/פזקר_-291_354410564000.jpg') no-repeat; 
}

h3 + div{
	width: 250px;
	height: 110px;
	margin: 0 auto;
}

.cred-card {
	background: url('images/paz_250x110059890678.jpg') no-repeat; 
}

.cl-pi {
	background: url('images/250X110571325734.jpg') no-repeat; 
}

.map {
	background: url('images/map-transparent.png') no-repeat;
	width: 73px;
	height: 168px;
}

.row nav > ul {
	margin-top: 20px;
}

.row:last-child .content nav > ul > li > a { 
	width: 37px;
}

/* HAEDER */

header {
	height:105px;
	background-image: linear-gradient(rgb(144, 144, 144) 85%, rgb(180, 180, 180) );
}

.container {
	position: relative;
	width: 900px;
	height: 100%;
	margin: 0 auto;
}

.container .col {
	position: absolute;;
	width: 100%;
	height: 80%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	top: 15%
}

.logo {
	display: block;
	position: absolute;;
	width: 142px;
	height: 93px;
	background: url('images/paz_logo.png') no-repeat;
	top: 30px;
}

.search {
	display: flex;
	height: 19px;
	width: 152px;
}

.setxt {
	width: 132px;
	height: 100%;
	border: none;
	border-top-right-radius: 7px;
}

.sebtn {
	background: url('images/search_button.png') no-repeat;
	width: 19px;
	height: 100%;
	border: none;
	cursor: pointer;
}

.left {
	display: flex;	
	justify-content: space-between;
	align-items: baseline;
	width: 220px;
}	

.container a { 
	color: white;
	text-decoration: none;
	font-size: 1.1em;
}

.container .col a { 
	display: inline-block;
	background-image: none;
	font-weight: bold;
}

header nav {
	width: 82%;
}

.container nav > ul {
	display: flex;
	padding: 0;
}


.container .col nav > ul > li:first-child > a { 
	width: 17px;
	height: 21px;
	background: url('images/menu_home_blue.png') no-repeat;
}


.container .col nav > ul > li:first-child > a.home-pic { 
	background: url('images/menu_home.png') no-repeat;
}


.container .col nav > ul > li.sep {
    width: 4px;
    height: 21px;
    background: url(images/menu_sep.png) no-repeat 0 0px;
    margin: 0 16px;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	background-color: rgb(144, 144, 144);
	position: absolute;
	display: none;
	top: 22px;
}

.dropdown-content > li > a {
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding: 5px;
}

.dropdown-content > li:first-child {
	background-image: linear-gradient( rgb(170, 170, 170), rgb(144, 144, 144) );
	padding-top: 15px;
}

.dropdown-content > li {
	border-bottom: 1px solid rgb(171, 171, 171);
	width: auto;
	white-space: nowrap;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.cube a {
	color: blue;
	white-space: nowrap;
}

 a:hover {
	color: rgb(0, 92, 160);
	text-decoration: underline;
}

/* FOOTER */
footer {
	position: fixed;
	width: 100%;
	height: 38px;
	bottom: 0;
	background-image: linear-gradient( rgb(180, 180, 180), rgb(144, 144, 144) 80% );
}

footer nav {
	padding-top: 16px;
}

footer li {
	color: white;
}

footer li > a {
	display: inline-block;
	padding: 0 8px;
}

footer .container nav > ul {
	justify-content: flex-end;
}

footer .container nav > ul > li:first-child > a { 
	width: 18px;
	height: 18px;
	background: url('images/fb_icon.png') no-repeat;
	margin: 0 0 8px 8px;
}

footer ul > li:last-child > a { 
	color: red;
}

footer ul > li:last-child > a:hover { 
	color: rgb(0, 92, 160);
}

/* CONTACT */
.contact {
	display: flex;
	flex-direction: column;
	width: 900px;
	height: 458px;
	margin: 0 auto;
	color: #575757;
}

.contact .row {
	margin-top: 32px;
	height: 426px;	
}

.contact a {
	text-decoration: none;
}

.sidebar {
	width: 122px;
	height: 36px;	
	background-image: linear-gradient( rgb(254, 254, 254), rgb(200, 200, 200));
	border-top: 1px solid rgb(210, 210, 210);

}

.sidebar li {
	display: flex;
}

.sidebar a {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	text-align: right;
}

.cube.center {
	width: 440px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	text-align: right;
}

.cube.center > .col {
	width: 385px;
	height: 368px;
	margin-right: 0px;
	justify-content: flex-end;
}

.cube.center li {
	display: inline;
}

.cube.left {
	width: 292px;
	height: 360px;
	display: flex;	
	flex-direction: column;
	justify-content: space-around;
	margin-top: 45px;
}

.cube.left  .col {
	height: 160px;
}


.cube.center > .col > .content > .caption {
    display: block;
    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    margin: 5px 0;
}

.fields {
	width: 255px;
	height: 260px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;	
	margin: 10px auto;
}

.fields label {
	display: inline-block;
	width: 70px;
	text-align: right;
}

.fields input[type="text"] {
	width: 175px;
    padding: 3px;
}

.fields input[type="text"],textarea {
    border: 1px solid #808992;
}

.cube.center > .col > .content a.button {
    font-size: 14px;
    color: white;
	background-image: linear-gradient( rgb(15, 167, 233) , rgb(2, 79, 134) );
	border-top-right-radius: 5px;
    line-height: 21px;
	padding: 0 4px;
	width: 40px;
	text-align: center;
}

.cube.center > .col > .content a.button:hover {
	background-image: linear-gradient( rgb(252, 228, 31) , rgb(245, 148, 10) );
}

.contact .row .cube.center > h3 {
	width: 100%;
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(210, 210, 210);
}

.contact .row .col .content h3 {
	color: rgb(0, 92, 160);
}

.error {
	color: red;
	display: none;
}
/* 
input:invalid + .error{
	display :initial;
} */